/* Estilos adicionales para los proyectos */
.proyectos {
  padding: 50px 20px;
  text-align: center;
  background-color: #121212;
  color: #fff;
}

.proyectos h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.proyectos-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr)); /* Ajuste para pantallas grandes */
  gap: 20px;
  justify-items: center;
  grid-template-rows: auto; /* Asegura que las filas se ajusten automáticamente */
  margin-top: 20px; /* Añadir un poco de espacio encima */
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .proyectos-container {
    grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
    gap: 35px;
  }
}
